body
    background-repeat: no-repeat
    background-size: cover
    background-position: center top

a
    font-family: inherit
    &:hover, &:focus, &:active, &:focus-visible
        color: inherit
        outline: none
        appearance: none
        box-shadow: none

.container
    max-width: 1144px
    
.section
    padding-top: var(--sectionMd)
    padding-bottom: var(--sectionMd)

.page
    padding-top: var(--gapLg)
    padding-bottom: var(--gapLg)

    &-with-breadcrumbs
        padding-top: 0



    section
        margin-top: var(--gapLg)
        margin-bottom: var(--gapLg)
        //margin-top: var(--gapMd)

        &:first-child
            //margin-top: 0
            & > :first-child
                margin-top: 0

    h1, h2
        margin-bottom: var(--gapSm)
    
    h3, h4, h5, h6
        margin-bottom: var(--gap)

    h1, h2, h3, h4, h5, h6
        margin-top: var( --headingMt)

    h2
        @extend .h2
    p
        +ft(16, 24, 400)

        & > a
            text-decoration: underline
            &:hover, &:active, &:focus
                text-decoration: none

    &__section
        @extend .my-0
        padding-top: var(--sectionSm)
        padding-bottom: var(--sectionSm)
        +theme(primary)
        background-image: url(../img/bg/bg2.svg)
        background-repeat: no-repeat
        background-size: cover
        &-inner
            display: grid
            grid-template-columns: 1fr 2fr
            gap: var(--gapXlg)
            align-items: center

            +maw($sm)
                grid-template-columns: 1fr 
                & > :first-child
                    margin-left: auto
                    margin-right: auto
                img
                    max-width: 300px

        &--reverse
            background-image: url(../img/bg/bg3.svg)
            .page__section-inner
                grid-template-columns: 2fr 1fr
                & > :first-child
                    order: 2
                +maw($sm)
                    grid-template-columns: 1fr 
                    & > :first-child
                        order: 0

        & *
            color: $white

        h2
            margin-top: 0
 

    &__data
        & > :first-child 
            @extend .mt-0
            & > :first-child 
                @extend .mt-0
                & > :first-child
                    @extend .mt-0


    &__error
        display: flex
        flex-direction: column

        .section
            flex: 1

            &:nth-child(even)
                padding-top: var(--sectionSm)
                padding-bottom: var(--sectionSm)
            +maw($sm)
                text-align: center
                &:first-child
                    flex: initial

    &__container
        +theme(white)
        // padding-top: var(--sectionMd)
        // padding-bottom: var(--sectionMd)
        & > :first-child
            & > :first-child
                @extend .mt-0
            

    &__content
        padding-top: calc(var(--gapSm) + var(--headerH))
        //padding-bottom: var(--gapSm)

    &__meta
        +flex(flex, center, flex-start, wrap)
        gap: var(--gap)
        margin-bottom: var(--gapSm)
        +ft(12, 16, 400)

    &__inner
        height: 100%
        padding-top: calc(var(--gapXmd) + var(--headerH))
        padding-bottom: var(--gapXmd)
        +theme(light)

        +maw($xsm)
            padding-top: calc(var(--gap) + var(--headerH))
        
    
    &__main
        display: grid
        grid-template-columns: auto var(--sidebarW)
        gap: var(--gapMd)
        
        +maw($md)
            grid-template-columns: 1fr

    &__slider
        @extend .mt-0
    //     max-width: 864px
    //     max-width: calc(100vw - var(--sidebarW)) //FIXME

    &__img
        position: relative
        display: block
        max-width: 100%
        margin: var(--gapSm) auto
        border-radius: $brs1
        overflow: hidden
        &-wrapper
            position: relative
            display: block
            padding-top: 50%
            margin: 0

            & > *
                +ps(absolute, (t, 0), (l, 0))
                display: block
                object-fit: cover
                +sz(100%, 100%)
                max-width: 100%

        figcaption
            height: auto
            background-color: $grey5
            padding: 10px 15px


    &__sidebar
        +maw($md)
            display: none
            
        color: $grey2
        h3
            margin-top: 0
            margin-bottom: var(--gapXs)
            text-transform: uppercase
            +ft(16, 16, 700)
            letter-spacing: 0.05em

        section
            width: 100%
            margin: 0
        
        &-inner
            +ps(sticky, (t, calc(var(--headerH) + 10px)))
            +flex(flex, flex-start, flex-start, nowrap)
            flex-direction: column
            gap: var(--gapMd)
        
        &-links
            +flex(flex, flex-start, flex-start, nowrap)
            flex-direction: column
            gap: 10px
            padding: 16px 12px
            background-color: $white
            border-radius: $brs1
            border: $bd2
            color: $grey3
            +ft(14, 20, 400)

            a
                display: inline-flex
                transition: $trs

                &.active, &:active, &:hover, &:focus
                    color: $violet1
                    text-decoration: underline
    
    &__nav
        +flex(flex, center, space-between, wrap)
        gap: var(--gap)

        +maw($sm)
            &, & *
                justify-content: center


.logos
    +flex(inline-flex, center, center, wrap)
    gap: var(--gap)
    
    & *
        max-width: 150px
        height: auto
        object-fit: contain
        transition: $trs
        &:hover, &:active, &:focus
            opacity: 0.5

        +maw(480)
            max-width: 40px
            transform: scale(1.2)

.related
    +theme(primary)

.item
    +flex(flex, flex-start, space-between, nowrap)
    padding:  var(--gap)
    gap: var(--gapXs)
    @extend %card
    +ft(15, 15*1.5, 600)
    &__wrap
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(calc(250px), 1fr))
        gap: var(--gapMd)
    svg
        color: $pink
        min-width: 15px