$black: #000
$white: #fff

$pink: #FF1A5E
$red: #FC4747
$pink30: #FFD1DF
$violet1: #4B50C8
$violet2: #1F2272
$violet3: #2C32BF


$grey1: #23262F
$grey2: #3A3F50
$grey3: #777E90
$grey4: #B1B5C3
$grey5: #E4E5ED
$grey6: #F6F7FC


$ffHeading: 'Inter'
$ffText: 'Inter'
$ffBack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"

$xlg: 1400
$lg: 1200
$md: 998
$sm: 772
$xsm: 520
$xs: 480
$xxs: 360

$trs: all 0.45s ease-in-out


$bd1: 1px solid #1F2272
$bd2: 1px solid #E4E5ED
$bd3: 1px solid rgba(#2C32BF, 0.5)
$bd4: 1px solid #E6E8EC


$bxsd1: 0px 40px 64px -32px rgba(15, 15, 15, 0.1)
$bxsd2: 0px 4px 4px rgba(0, 0, 0, 0.05)
$bxsd3: 0px 4px 4px rgba(0, 0, 0, 0.25)

$brs1: 8px
$brs2: 16px

$grad1: linear-gradient(180deg, #FF4EA3 0%, #B8008F 100%)
$grad2: radial-gradient(100% 359.18% at 0% 0%, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.03) 100%)


=ft($fz, $lh: 16, $fw: 400, $ff: $ffText)
    $lh: $lh/$fz
    $fz: $fz/16 + rem
    $ff: $ff, $ffBack
    font: $fw $fz/$lh $ff 


=theme($theme)
    @if $theme == dark
        background-color: $violet2
        color: $white

    @if $theme == white
        background-color: $grey6
        color: $grey2

    @if $theme == main
        background-color: $violet1
        color: $white
    
    @if $theme == primary
        background-color: $violet3
        color: $white
       
        h1, h2, h3, h4, h5, h6
            color: $white

    @if $theme == light
        background-color: $grey6
        color: $grey3

        h1, h2, h3, h4, h5, h6
            color: $grey2


=sz($w, $h)
    width: $w
    height: $h

=flex($fx, $ai, $jc, $fxw)
    display: $fx
    align-items: $ai
    justify-content: $jc
    flex-wrap: $fxw


// input +padding((t, 30px), (b, 40px))
// +position(absolute, (t, 0), (r, 0))
=position($ps, $val)
    @each $x in $ps
        @if $x == t
            top: $val

        @if $x == b
            bottom: $val

        @if $x == l
            left: $val

        @if $x == r
            right: $val

=ps($params...)
    position: nth($params, 1)
    @each $par, $val in $params
        @if $par != null and $val != null
            +position($par, $val)

// input +padding((t, 30px), (b, 40px))
=padding($pd, $val)
    @if $pd == t
        padding-top: $val

    @if $pd == b
        padding-bottom: $val

    @if $pd == l
        padding-left: $val

    @if $pd == r
        padding-right: $val

    @if $pd == all
        padding: $val

    

=pd($params...)
    @each $par, $val in $params
        @if $par != null and $val != null
            +padding($par, $val)

=margin($mg, $val)
    @if $mg == t
        margin-top: $val

    @if $mg == b
        margin-bottom: $val

    @if $mg == l
        margin-left: $val

    @if $mg == r
        margin-right: $val

    @if $mg == all
        margin: $val

=mg($params...)
    @each $par, $val in $params
        @if $par != null and $val != null
            +margin($par, $val)

// =sp($prop, $params...)
// 	@if $prop == mg
// 		+mg($params)
// 	@if $prop == pd 
// 		+pd($params)	

$i: 0
=spacer($arr)
    @for $val from 1 through length($arr) 
        $spr: nth($arr, 1)
    @if $spr == mg
        @for $i from 2 through length($arr)
            $props: nth($arr, $i)
            +margin($props...)
    @if $spr == pd
        @for $i from 2 through length($arr)
            $props: nth($arr, $i)
            +padding($props...)
    
=sp($x, $y)
    +spacer($x)
    +spacer($y)
        
    
//+sp((mg, (l, 20px), (b, 15px)), (pd, (r, 10px)))

    
=maw($brkp)
    @media only screen and (max-width: $brkp+"px")
        @content

=miw($brkp)
    @media only screen and (min-width: $brkp+"px")
        @content

=mw($min, $max)
    @media only screen and (min-width: $min+"px") and (max-width: $max+"px")
        @content


@function rem($val)
    $res: $val/16 + rem
    @return $res

@function em($val)
    $res: $val/16 + em
    @return $res 



//  font-size: calc([minfz] + ([maxfz] - [minfz]) * ((100vw - [miw]) / ([maw] - [miw])));
    
=rfz($maw, $miw, $minfz, $maxfz)
    $maw : $maw + px
    $miw : $miw + px
    $minfz : $minfz + px
    $maxfz : $maxfz + px	
    @media only screen and (min-width: $miw) 
        font-size: calc(#{$minfz} + (#{$maxfz} - #{$minfz}) * ((100vw - #{$miw}) / (#{$maw} - #{$miw})))

    @media only screen and (min-width: $maw)
        font-size: $maxfz
    
// +rfz(1120, 320, 12, 40)

%scroll
    &::-webkit-scrollbar
        width: 10px
        height: 10px

    &::-webkit-scrollbar-track
        background-color: $violet2

    &::-webkit-scrollbar-thumb
        background: $violet1

%hover-link
    position: relative
    &::before
        content: ''
        +ps(absolute, (b, -1px), (l, 0))
        +sz(100%, 1px)
        border-radius: 1px
        background-color: $white

        transform-origin: right
        transform: scaleX(0)
        transition: transform .3s ease-in-out

%hover
    @extend %hover-link

    &:hover, &:focus, &:active
        //color: $viole1
        opacity: 1
        color: inherit
        &::before
            transform-origin: left
            transform: scaleX(1)

%card
    background-color: $white
    border: $bd2
    border-radius: $brs1
    &:hover
        box-shadow: $bxsd1

%hero
    background: url('../img/bg/bg-hero.svg') no-repeat 50%/cover
    background-color: $violet3
    backdrop-filter: blur(15px)
    border-top: $bd3
    color: $white

%list
    padding: 0
    //margin: 0
    counter-reset: section

    li
        position: relative
        list-style-type: none
        +flex(flex, flex-start, flex-start, nowrap)
        gap: 12px
        color: $grey3
        &:first-of-type
            margin-top: 0

.bg
    &--circle
        background-repeat: no-repeat
        background-size: contain
        background-image: url('../img/bg/bg0.png')
        background-position: center

\:root
    --headerH: 64px
    --topLineH: 70px
    --breadcrumbH: 65px
    --sectionMy: 100px
    --sectionMd: 75px
    --sectionSm: 50px
    --headingMb: 16px
    --headingMt: 32px
    --sidebarW: 224px
    --gap: 16px
    --gapXs: 8px
    --gapSm: 24px
    --gapMd: 32px
    --gapXmd: 40px
    --gapLg: 48px
    --gapXlg: 100px
    +maw($md)
        --gapXlg: 50px
        --sectionMy: 50px
        --sectionMd: 25px
        --sectionSm: 25px
        --gapLg: 24px
