.section
    color: $main
    padding-top: 50px
    padding-bottom: 50px

    &_hero
        padding-top: calc(25vh + 20px)
    &_bg
        background-repeat: no-repeat
        background-size: cover
        background-position: 50% 0
        min-height: 55vmax
        margin-top: -10vh
    &_table
        padding-top: 0
    +maw($sm)
        &_table
            padding-bottom: 0
        &_content
            padding-top: 0
        &_games
            padding-top: 0
       
.img
    max-width: 100%
    border-radius: 10px
    overflow: hidden
    box-shadow: 0 0 0 5px #DDF5FF, 0 0 0 10px #F3FBFF

.intro
    background-color: rgba($white, 0.9)
    border-radius: 10px
    padding: 16px
    +ft(16, 22, 400)
    max-width: 734px
   

    +maw($sm)
        background-color: transparent

.ratings
    white-space: nowrap