h1
    +ft(52, 52*1.5, 400)
    margin-bottom: 17px
    +maw($sm)
        text-align: center
        +ft(32, 44, 400)
h2
    text-transform: uppercase
    +ft(42, 42*1.5, 400)
    margin-bottom: 31px
    +maw($sm)
        text-align: center
        +ft(28, 28*1.5, 400)
h3
    +ft(42, 56, 400)
    margin-bottom: 33px
    +maw($sm)
        text-align: center
        +ft(28, 38, 400)
h4
    +ft(32, 38, 400)
    margin-bottom: 20px
    margin-top: 20px
    +maw($sm)
        text-align: center
        +ft(28, 28, 400)
p
    +ft(16, 22, 400)

.text
    &-left
        text-align: left