{{ $data := index .Site.Data .Site.Language.Lang }}

<section class="section section_hero">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-1 order-lg-12">
        <div class="items">
          <div class="item">
            <div class="item-inner">
              <div class="item-head">
                <img src="images/item2.jpg" alt="ALT" />
                <svg viewBox="0 0 500 150" preserveAspectRatio="none">
                  <path
                    d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"
                  ></path>
                </svg>
              </div>
              <div class="item-body">
                <div class="item__title">
                  Wild Blaster
                </div>
                <div class="rating">
                  <svg class="icon" width="14" height="14">
                    <use xlink:href="#star"></use>
                  </svg>
                  <svg class="icon" width="14" height="14">
                    <use xlink:href="#star"></use>
                  </svg>
                  <svg class="icon" width="14" height="14">
                    <use xlink:href="#star"></use>
                  </svg>
                  <svg class="icon" width="14" height="14">
                    <use xlink:href="#star"></use>
                  </svg>
                  <svg class="icon" width="14" height="14">
                    <use xlink:href="#star"></use>
                  </svg>
                </div>
              </div>
              <button class="btn">
                play now
              </button>
            </div>
          </div>
          <div class="item">
            <div class="item-inner">
              <div class="item-head">
                <img src="images/item2.jpg" alt="ALT" />
                <svg viewBox="0 0 500 150" preserveAspectRatio="none">
                  <path
                    d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"
                  ></path>
                </svg>
              </div>
              <div class="item-body">
                <div class="item__title">
                  Wild Blaster
                </div>
                <div class="rating">
                  <svg class="icon" width="14" height="14">
                    <use xlink:href="#star"></use>
                  </svg>
                  <svg class="icon" width="14" height="14">
                    <use xlink:href="#star"></use>
                  </svg>
                  <svg class="icon" width="14" height="14">
                    <use xlink:href="#star"></use>
                  </svg>
                  <svg class="icon" width="14" height="14">
                    <use xlink:href="#star"></use>
                  </svg>
                  <svg class="icon" width="14" height="14">
                    <use xlink:href="#star"></use>
                  </svg>
                </div>
              </div>
              <button class="btn">
                play now
              </button>
            </div>
          </div>
          <div class="item">
            <div class="item-inner">
              <div class="item-head">
                <img src="images/item2.jpg" alt="ALT" />
                <svg viewBox="0 0 500 150" preserveAspectRatio="none">
                  <path
                    d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"
                  ></path>
                </svg>
              </div>
              <div class="item-body">
                <div class="item__title">
                  Wild Blaster
                </div>
                <div class="rating">
                  <svg class="icon" width="14" height="14">
                    <use xlink:href="#star"></use>
                  </svg>
                  <svg class="icon" width="14" height="14">
                    <use xlink:href="#star"></use>
                  </svg>
                  <svg class="icon" width="14" height="14">
                    <use xlink:href="#star"></use>
                  </svg>
                  <svg class="icon" width="14" height="14">
                    <use xlink:href="#star"></use>
                  </svg>
                  <svg class="icon" width="14" height="14">
                    <use xlink:href="#star"></use>
                  </svg>
                </div>
              </div>
              <button class="btn">
                play now
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 order-12 order-lg-1">
        <h1>
          Provider name
        </h1>

        <div class="intro">
          Voor wie op zoek is naar een online casino waarbij het storten en
          opnemen van geld in 2019 een fluitje van een cent is, is op deze
          pagina over online casino iDeal op het goede adres. Hier vertellen we
          je NL precies welke online casino’s gebruik maken van iDeal als
          betaalmethode en hoe een iDeal casino Nederland werkt. <br />
          - Hoe werkt het betalen met iDeal in een online casino eigenlijk?
          <br />
          - Waar vind ik een gratis ideal casino? <br />
          - En waar bestaat er ook een Nederlands ideal casino? Op al deze
          vragen krijg je op deze pagina antwoord. Bij IdealeCasino’s.nl hebben
          we ook een lijst samengesteld van online casinos met iDeal. Alle
          online iDeal casino’s op deze lijst zijn betrouwbaar en uitgebreid
          getest door onze experts en zijn veilig om in te spelen.
        </div>
      </div>
    </div>
  </div>
</section>
