{{ define "main" }}

<!-- BEGIN section -->

{{- partial "header.html" . -}}

<article class="section_bg" style="background-image: url('images/bg.svg')">

{{- partial "_hero.html" . -}}

</article>
<!-- END section -->

<!-- BEGIN section -->
<section class="section section_games">
  <div class="container">
    <h2 class="text-left">
      Provider games
    </h2>

    <div class="cat__wrap">
      <button class="cat">
        Slots
      </button>
      <button class="cat">
        Blackjack
      </button>
      <button class="cat">
        roulette
      </button>
      <button class="cat">
        poker
      </button>
      <button class="cat">
        bingo
      </button>
      <button class="cat">
        videoslots
      </button>
      <button class="cat">
        All games
      </button>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 my-1">
        <figure class="card">
          <img src="images/card.jpg" alt="ALT" />
          <div class="card__header">
            <div class="card__tag">
              Info
            </div>
            <div class="rating">
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
            </div>
          </div>
          <div class="card__footer">
            <a href="#" class="card__btn">play demo</a>
          </div>
        </figure>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 my-1">
        <figure class="card">
          <img src="images/card.jpg" alt="ALT" />
          <div class="card__header">
            <div class="card__tag">
              Info
            </div>
            <div class="rating">
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
            </div>
          </div>
          <div class="card__footer">
            <a href="#" class="card__btn">play demo</a>
          </div>
        </figure>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 my-1">
        <figure class="card">
          <img src="images/card.jpg" alt="ALT" />
          <div class="card__header">
            <div class="card__tag">
              Info
            </div>
            <div class="rating">
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
            </div>
          </div>
          <div class="card__footer">
            <a href="#" class="card__btn">play demo</a>
          </div>
        </figure>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 my-1">
        <figure class="card">
          <img src="images/card.jpg" alt="ALT" />
          <div class="card__header">
            <div class="card__tag">
              Info
            </div>
            <div class="rating">
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
            </div>
          </div>
          <div class="card__footer">
            <a href="#" class="card__btn">play demo</a>
          </div>
        </figure>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 my-1 d-none d-sm-block">
        <figure class="card">
          <img src="images/card.jpg" alt="ALT" />
          <div class="card__header">
            <div class="card__tag">
              Info
            </div>
            <div class="rating">
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
            </div>
          </div>
          <div class="card__footer">
            <a href="#" class="card__btn">play demo</a>
          </div>
        </figure>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 my-1 d-none d-sm-block">
        <figure class="card">
          <img src="images/card.jpg" alt="ALT" />
          <div class="card__header">
            <div class="card__tag">
              Info
            </div>
            <div class="rating">
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
            </div>
          </div>
          <div class="card__footer">
            <a href="#" class="card__btn">play demo</a>
          </div>
        </figure>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 my-1 d-none d-sm-block">
        <figure class="card">
          <img src="images/card.jpg" alt="ALT" />
          <div class="card__header">
            <div class="card__tag">
              Info
            </div>
            <div class="rating">
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
            </div>
          </div>
          <div class="card__footer">
            <a href="#" class="card__btn">play demo</a>
          </div>
        </figure>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 my-1 d-none d-sm-block">
        <figure class="card">
          <img src="images/card.jpg" alt="ALT" />
          <div class="card__header">
            <div class="card__tag">
              Info
            </div>
            <div class="rating">
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="icon" width="14" height="14">
                <use xlink:href="#star"></use>
              </svg>
            </div>
          </div>
          <div class="card__footer">
            <a href="#" class="card__btn">play demo</a>
          </div>
        </figure>
      </div>
    </div>
  </div>
  <!-- BEGIN btn -->
  <div class="row justify-content-center mt-4">
    <button class="btn__show-more">
      show more
      <svg class="icon" width="14" height="14">
        <use xlink:href="#arr-dwn"></use>
      </svg>
    </button>
  </div>
  <!-- END btn -->
</section>
<!-- END section -->

<!-- BEGIN section -->
<section class="section section_table">
    <div class="container">
        <h2 class="text-left">
            Header
        </h2>

        <table class="table">
            <thead>
                
            <tr><th>#</th>
                <th>Logo</th>
                <th class="table__name">Name</th>
                <th>TYPE</th>
                <th>Bonus</th>
                <th>Rating</th>
                <th>VISITING</th>
            </tr>
                
            </thead>
            <tbody>
                <tr>
                  
                      <td class="table__num">
                          <span>1</span>
                      </td>
                      <td class="table__img"> <img src="images/provider1.jpg"  alt="ALT" width="243" height="108"></td>
                    
                    <td class="table__name">
                        <span class="table__provider">Platinum Reels</span>
                        <a href="#" class="table__review">Review <svg class="icon" width="5" height="5">
                            <use xlink:href="#arr-r"></use>
                          </svg></a>
                    </td>
                    <td class="table__type">
                        Gratis Spins
                    </td>
                 
                    <td class="table__bonus">
                      <span class="d-block d-sm-none">
                        BONUS
                      </span>
                        25FS
                    </td>
                    <td class="table__rating">
                        <div class="ratings">
                            <svg class="icon" width="14" height="14">
                                <use xlink:href="#star"></use>
                              </svg>
                              <svg class="icon" width="14" height="14">
                                <use xlink:href="#star"></use>
                              </svg>
                              <svg class="icon" width="14" height="14">
                                <use xlink:href="#star"></use>
                              </svg>
                              <svg class="icon" width="14" height="14">
                                <use xlink:href="#star"></use>
                              </svg>
                              <svg class="icon" width="14" height="14">
                                <use xlink:href="#star"></use>
                              </svg>
                        </div> 
                        <span><b>35</b> <small>voters</small>
                        </span>
                    </td>
                    <td class="table__footer">
                      <a href="#" class="table__review">Review <svg class="icon" width="5" height="5">
                        <use xlink:href="#arr-r"></use>
                      </svg></a>
                      <button class="btn btn-primary btn-tocasino">play now </button> 
                    
                    </td>
                </tr>
                <tr>
                  
                  <td class="table__num">
                      <span>1</span>
                  </td>
                  <td class="table__img"> <img src="images/provider1.jpg"  alt="ALT" width="243" height="108"></td>
                
                <td class="table__name">
                    <span class="table__provider">Platinum Reels</span>
                    <a href="#" class="table__review">Review <svg class="icon" width="5" height="5">
                        <use xlink:href="#arr-r"></use>
                      </svg></a>
                </td>
                <td class="table__type">
                    Gratis Spins
                </td>
             
                <td class="table__bonus">
                  <span class="d-block d-sm-none">
                    BONUS
                  </span>
                    25FS
                </td>
                <td class="table__rating">
                    <div class="ratings">
                        <svg class="icon" width="14" height="14">
                            <use xlink:href="#star"></use>
                          </svg>
                          <svg class="icon" width="14" height="14">
                            <use xlink:href="#star"></use>
                          </svg>
                          <svg class="icon" width="14" height="14">
                            <use xlink:href="#star"></use>
                          </svg>
                          <svg class="icon" width="14" height="14">
                            <use xlink:href="#star"></use>
                          </svg>
                          <svg class="icon" width="14" height="14">
                            <use xlink:href="#star"></use>
                          </svg>
                    </div> 
                    <span><b>35</b> <small>voters</small>
                    </span>
                </td>
                <td class="table__footer">
                  <a href="#" class="table__review">Review <svg class="icon" width="5" height="5">
                    <use xlink:href="#arr-r"></use>
                  </svg></a>
                  <button class="btn btn-primary btn-tocasino">play now </button> 
                
                </td>
            </tr>
            <tr>
                  
              <td class="table__num">
                  <span>1</span>
              </td>
              <td class="table__img"> <img src="images/provider1.jpg"  alt="ALT" width="243" height="108"></td>
            
            <td class="table__name">
                <span class="table__provider">Platinum Reels</span>
                <a href="#" class="table__review">Review <svg class="icon" width="5" height="5">
                    <use xlink:href="#arr-r"></use>
                  </svg></a>
            </td>
            <td class="table__type">
                Gratis Spins
            </td>
         
            <td class="table__bonus">
              <span class="d-block d-sm-none">
                BONUS
              </span>
                25FS
            </td>
            <td class="table__rating">
                <div class="ratings">
                    <svg class="icon" width="14" height="14">
                        <use xlink:href="#star"></use>
                      </svg>
                      <svg class="icon" width="14" height="14">
                        <use xlink:href="#star"></use>
                      </svg>
                      <svg class="icon" width="14" height="14">
                        <use xlink:href="#star"></use>
                      </svg>
                      <svg class="icon" width="14" height="14">
                        <use xlink:href="#star"></use>
                      </svg>
                      <svg class="icon" width="14" height="14">
                        <use xlink:href="#star"></use>
                      </svg>
                </div> 
                <span><b>35</b> <small>voters</small>
                </span>
            </td>
            <td class="table__footer">
              <a href="#" class="table__review">Review <svg class="icon" width="5" height="5">
                <use xlink:href="#arr-r"></use>
              </svg></a>
              <button class="btn btn-primary btn-tocasino">play now </button> 
            
            </td>
        </tr>
              
            </tbody>
        </table>
    </div>
</section>
<!-- END section -->

<!-- BEGIN section -->
<section class="section section_content">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-10 mx-auto mb-5">
        <div class="row">
          <div class="col-lg-8 order-1 order-lg-12">
            <h3>
              iDeal Casino Nederland overzicht
            </h3>
            <p>
              Betalen in een casino met iDeal is erg makkelijk. Binnen een paar
              clicks staat het geld dat je in een online ideal casino heb
              gewonnen al op je bankrekening. En het storten van geld vanaf je
              bankrekening in een iDeal casino is in een handomdraai gebeurd.
              Betalen met iDeal is dus erg makkelijk en een online casino met
              iDeal is ook nog eens zo gevonden. Ideal casino sites zijn daarom
              ook erg populair en het aantal iDeal casinos stijgt enorm snel.
              Steeds 6+meer mensen ontdekken deze handige betaalmethode en maken
              gebruik van een casino iDeal betaling.
            </p>
            <p>
              iDeal casinos zijn ook nog eens erg veilig. Helemaal als je er een
              van onze lijst iDeal casino 2022 uitzoekt. Betalen met iDeal werkt
              precies hetzelfde als bij een ‘gewone’ online aankoop en we zorgen
              er met onze lijst van casino’s ook nog eens voor dat je als speler
              in een betrouwbaar casino terecht komt.
            </p>

            <h4 class="mt-5">
              Hoe maak je iDeal account aan
            </h4>
            <p>
              Om gebruik te kunnen maken van iDeal is het noodzakelijk een
              bankrekening te hebben bij één van de Nederlandse banken die met
              iDeal samenwerken. Hoe je vervolgens een betaling kunt afronden
              via iDeal is afhankelijk van welke bank je hebt gekozen. We
              beschrijven stap voor stap hoe dit in zijn werking gaat, vanaf het
              klant worden bij een bank, tot aan de storting aan het iDeal
              casino. Zodra je een bank hebt gekozen die past bij wat je zoekt,
              kun je op het kantoor of online klant worden. Je kiest een pakket,
              vult al je gegevens in die worden gevraagd en ondertekend de
              documenten. Meestal kun je na enkele dagen gebruik maken van jouw
              nieuwe bankrekening. Sommige banken geven je een klein apparaatje
              die je nodig hebt om een betaling te doen. Zodra je alles bij de
              bank hebt geregeld, is een iDeal account aanmaken niet nodig. Dit
              is automatisch gebeurd met de inschrijving bij jouw nieuwe bank.
              Je kunt direct gebruik maken van het systeem van iDeal en een
              betaling doen bij het casino.
            </p>

            <!-- BEGIN btn -->
            <div class="row justify-content-center">
              <button class="btn__show-more">
                show more
                <svg class="icon" width="14" height="14">
                  <use xlink:href="#arr-dwn"></use>
                </svg>
              </button>
            </div>
            <!-- END btn -->
          </div>
          <aside class="col-lg-4 order-12 order-lg-1 mb-5 mb-lg-0">
<nav class="toc">
    <button class="toc__title" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="true" aria-controls="collapseWidthExample">
        Table of content
        <svg class="icon" width="14" height="14">
            <use xlink:href="#arr-dwn"></use>
        </svg>
    </button>
    <div class="collapse collapse-horizontal show" id="collapseWidthExample">
    <ol class="toc__list ">
        <li><a href="#">iDeal Casino</a></li>
        <li><a href="#">Plus en Minpunten </a></li>
        <li><a href="#">iDeal Casino Kiezen</a></li>
        <li><a href="#">Betalen met iDeal </a></li>
        <li><a href="#">iDeal Casino 2022 </a></li>
        <li><a href="#">FAQ </a></li>
    </ol>
</div>
</nav>

          </aside>
        </div>
      </div>
      <div class="col-md-10 mx-auto">
        <div class="row align-items-center">
          <div class="col-md-6 mb-5">
            <h4>iDeal Casino Nederland overzicht</h4>
            <p>
              Betalen in een casino met iDeal is erg makkelijk. Binnen een paar
              clicks staat het geld dat je in een online ideal casino heb
              gewonnen al op je bankrekening. En het storten van geld vanaf je
              bankrekening in een iDeal casino is in een handomdraai gebeurd.
              Betalen met iDeal is dus erg makkelijk en een online casino met
              iDeal is ook nog eens zo gevonden. Ideal casino sites zijn daarom
              ook erg populair en het aantal iDeal casinos stijgt enorm snel.
              Steeds 6+meer mensen ontdekken deze handige betaalmethode en maken
              gebruik van een casino iDeal betaling.
            </p>
            <p>
              iDeal casinos zijn ook nog eens erg veilig. Helemaal als je er een
              van onze lijst iDeal casino 2022 uitzoekt. Betalen met iDeal werkt
              precies hetzelfde als bij een ‘gewone’ online aankoop en we zorgen
              er met onze lijst van casino’s ook nog eens voor dat je als speler
              in een betrouwbaar casino terecht komt.
            </p>
            <!-- BEGIN btn -->
            <div class="row justify-content-center">
              <button class="btn__show-more">
                show more
                <svg class="icon" width="14" height="14">
                  <use xlink:href="#arr-dwn"></use>
                </svg>
              </button>
            </div>
            <!-- END btn -->
          </div>
          <div class="col-md-6 mb-5 d-none d-md-block">
            <img class="img" src="images/img5.jpg" alt="ALT" />
          </div>
          <div class="col-md-6 d-none d-md-block">
            <img class="img" src="images/img4.jpg" alt="ALT" />
          </div>
          <div class="col-md-6">
            <h4>
              iDeal Casino Nederland overzicht
            </h4>
            <p>
              Betalen in een casino met iDeal is erg makkelijk. Binnen een paar
              clicks staat het geld dat je in een online ideal casino heb
              gewonnen al op je bankrekening. En het storten van geld vanaf je
              bankrekening in een iDeal casino is in een handomdraai gebeurd.
              Betalen met iDeal is dus erg makkelijk en een online casino met
              iDeal is ook nog eens zo gevonden. Ideal casino sites zijn daarom
              ook erg populair en het aantal iDeal casinos stijgt enorm snel.
              Steeds 6+meer mensen ontdekken deze handige betaalmethode en maken
              gebruik van een casino iDeal betaling.
            </p>
            <p>
              iDeal casinos zijn ook nog eens erg veilig. Helemaal als je er een
              van onze lijst iDeal casino 2022 uitzoekt. Betalen met iDeal werkt
              precies hetzelfde als bij een ‘gewone’ online aankoop en we zorgen
              er met onze lijst van casino’s ook nog eens voor dat je als speler
              in een betrouwbaar casino terecht komt.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END section -->

{{ end }}